* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

:root {
    --i: 'impact';
    --a: 'arial';
}

body {
    min-width: 300px;
    font-family: var(--a);
}

.title {
    color: #c77116;
    font-size: 36px;
    border-bottom: 2px solid #c77116;
    display: inline;
}

/* HEADER START */
/* ****************************************************************** */

header .cap {
    padding-top: 25px;
    padding-bottom: 26px;
    background: linear-gradient(to right, #4a0f98, #c77116);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

header .cap i {
    font-size: 51px;
}

header .cap p {
    width: 160px;
    margin-left: 20px;
    font-size: 18px;
}

header .menu {
    background: #000;
}

header .menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu nav ul {
    display: flex;
}

header .menu nav ul a {
    padding: 43px 16px;
    color: #fff;
    display: flex;
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}

header .menu nav ul a:hover {
    color: #c77116;
    border-bottom: 3px solid #c77116;
}

header .text {
    background: url(../img/header-fon.jpg) no-repeat center/cover;
    padding-top: 186px;
    padding-bottom: 166px;
}

header .text h1 {
    color: #fff;
    font-size: 60px;
    font-family: var(--i);
}

header .text p {
    font-size: 18px;
    color: #fff;
    margin-top: 37px;
    max-width: 582px;
    width: 100%;
}

header .text .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 360px;
    width: 100%;
    margin-top: 84px;
}

header .text .btn a {
    width: 162px;
    height: 42px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s;
}

header .text .btn a:hover {
    background: #fff;
    color: #000;
}

/* FILM START */
/* ************************************************************************** */

.film {
    background: #02153a;
    padding-top: 67px;
    padding-bottom: 76px;
}

.film .film__block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 55px;
}

.film .film__block .box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.film .film__block .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 0.5s;
}

.film .film__block .box:hover img {
    transform: scale(1.5);
}

.film .film__block .box .box-text {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 18px;
    background: #0000004b;
    color: #fff;
}

.film .film__block .box .box-text i {
    font-size: 41px;
}

.film .film__block .box .box-text h3 {
    margin-top: 22px;
    margin-bottom: 18px;
    font-size: 24px;
}

/* ЕЕЕЕееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееее */
.fon-img {
    background: url(../img/fon-section.jpg) no-repeat center/cover;
    padding-top: 40px;
    padding-bottom: 63px;
    background-attachment: fixed;
}

.fon-img img {
    max-width: 510px;
    width: 100%;
}

.fon-img p {
    color: #fff;
    max-width: 535px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 40px;
}

.fon-img a {
    width: 164px;
    height: 43px;
    color: #000;
    background: #fff;
    display: flex;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.fon-img a:hover {
    background: #000;
    color: #fff;
    box-shadow: 0 0 15px 5px;
}

/* iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii */
.collections {
    padding: 70px 0px;
    background: #02153a;

}

.collections .block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 46px;

}

.collections .block .box {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.collections .block .box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 0.5s;
}

.collections .block .box:hover .box-img {

    transform: scale(1.5);
}

.collections .block .box .box-plenks {
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    z-index: 2;
}

.collections .block .box .box-text {

    background: linear-gradient(to right, #4a0f98b6, #c7711698);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.collections .block .box .box-text i {
    font-size: 41px;
}

.collections .block .box .box-text p {
    margin-top: 14px;
    font-size: 24px;

}

/* start nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn */
.series{
    padding: 70px 0px;
    background: #02153a;
    
}
.series .wanbox{
    width: 1140px;
    height: 442px;
    margin-top: 50px;
    background: url(../img/series_1.jpg)  no-repeat center/cover;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}
.series .wanbox .game{
     width: 100%;
     height: 100%;
    margin-top: 60px;
    background: linear-gradient(to right, #4a0f9894, #d1741194);
    color: white;
    padding: 50px;
 
    z-index: 5;
    position: absolute;
    top: -60px;
}
.series .wanbox  h1{
    font-size: 45px;
    text-align: center;
    margin: 50px auto;
}
.series .wanbox  p{
    font-size: 14px;
    text-align: center;
}
.series .game button{
    padding: 14px 35px;
    margin: 70px 420px;
    border-radius: 5px;
    color: white;
    background: black;
    transition: 0.5s;   
    font-weight: 900;
}
.series .game button:hover{
    background-color: white;
    color: black;
}
/*WOX ***********  */
/* *********************************************************************** */
.wox{
    margin-top: 50px;
    padding: 70px 0px;
    background: #02153a;
   
    display: flex;  
    justify-content: space-between; 
}
.wox .left{
    width: 540px;
    height: 400px;
    position: relative;
}
.wox .left .wanda{
    width: 100%;
    height: 100%;
  z-index: 1;
    background: url(../img/series_2.jpg) no-repeat center/cover;
    border-radius: 5px;
   
}
.wox .wanda-fon{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #4a0f9894, #d1741194);
    color: white;
padding-top: 168px;
padding-left: 200px;
    z-index: 3;
}
.wox .the{
    position: relative;
}
.wox .right{
      width: 550px;
    height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.wox .thebox{
    width: 260px;
    height: 185px;
    background: url(../img/series_3.jpg) no-repeat center/cover;
    border-radius: 5px;
    z-index: 1;
}
.wox .f4{
    width: 260px;
    height: 185px;
    background: url(../img/series_4.jpg) no-repeat center/cover;
    border-radius: 5px;
    z-index: 1;
}
.wox .thebox{
    width: 260px;
    height: 185px;
    background: url(../img/series_5.jpg) no-repeat center/cover;
    border-radius: 5px;
    z-index: 1;
}
.wox .thebox{
    width: 260px;
    height: 185px;
    background: url(../img/series_6.jpg) no-repeat center/cover;
    border-radius: 5px;
    z-index: 1;
}
.wox .thebox{
    width: 260px;
    height: 185px;
    background: url(../img/series_3.jpg) no-repeat center/cover;
    border-radius: 5px;
    z-index: 1;
}
.thebox-fon{
    width: 260px;
    height: 95%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: linear-gradient(to right, #4a0f9894, #d1741194);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    width: 100%;
    height: 78px;
    background: linear-gradient(to right, rgb(255, 123, 0), rgb(85, 56, 1));
}